body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f2f2f2;
}

/* HEADER */
.top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 30px;
    background:#111;
    color:white;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.logo span{
    color:red;
}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}

/* BREAKING BAR */
.breaking-bar{
    display:flex;
    background:#c40000;
    color:white;
    padding:10px;
    overflow:hidden;
}

.label{
    background:black;
    padding:5px 12px;
    margin-right:10px;
    font-weight:bold;
}

.ticker{
    white-space:nowrap;
    overflow:hidden;
    width:100%;
}

#breakingText{
    display:inline-block;
    padding-left:100%;
    animation: scroll 15s linear infinite;
}

@keyframes scroll{
    0%{ transform:translateX(0); }
    100%{ transform:translateX(-100%); }
}

/* CONTENT */
.container{
    display:flex;
    padding:20px;
    gap:20px;
}

.left{
    flex:3;
}

.right{
    flex:1;
    background:white;
    padding:15px;
    border-radius:5px;
}

.news-card{
    background:white;
    margin-bottom:20px;
    padding:15px;
    border-radius:5px;
}

.news-card img{
    width:100%;
    border-radius:5px;
}

/* FOOTER */
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

/* MOBILE */
@media(max-width:768px){
    .container{
        flex-direction:column;
    }
    nav{
        display:none;
    }
}
