body{
    font-family: Arial;
    margin:0;
    background:#f5f5f5;
}

.breaking-bar{
    display:flex;
    background:#c40000;
    color:white;
    padding:10px;
    overflow:hidden;
}

.label{
    background:black;
    padding:5px 12px;
    margin-right:10px;
    font-weight:bold;
}

.ticker{
    white-space:nowrap;
    overflow:hidden;
    width:100%;
}

#breakingText{
    display:inline-block;
    padding-left:100%;
    animation: scroll 15s linear infinite;
}

@keyframes scroll{
    0%{ transform:translateX(0); }
    100%{ transform:translateX(-100%); }
}

table{
    width:90%;
    margin:20px;
    border-collapse:collapse;
    background:white;
}

th,td{
    padding:10px;
    border:1px solid #ccc;
}

input{
    padding:10px;
    width:300px;
}

button{
    padding:10px 15px;
    background:#c40000;
    color:white;
    border:none;
}
